In [1]:
import numpy as np
import pandas as pd

In [2]:
import xarray as xr

ds = xr.open_dataset('GMTED2010_15n030_0125deg.nc')
df = ds.to_dataframe()

In [4]:
df

                   latitude  longitude  latitude_bounds  longitude_bounds  \
nbounds nlat nlon
0       0    0     -89.9375  -179.9375            -90.0          -180.000
             1     -89.9375  -179.8125            -90.0          -179.875
             2     -89.9375  -179.6875            -90.0          -179.750
             3     -89.9375  -179.5625            -90.0          -179.625
             4     -89.9375  -179.4375            -90.0          -179.500
             5     -89.9375  -179.3125            -90.0          -179.375
             6     -89.9375  -179.1875            -90.0          -179.250
             7     -89.9375  -179.0625            -90.0          -179.125
             8     -89.9375  -178.9375            -90.0          -179.000
             9     -89.9375  -178.8125            -90.0          -178.875
             10    -89.9375  -178.6875            -90.0          -178.750
             11    -89.9375  -178.5625            -90.0          -178.625
             12    -89.9375  -178.4375            -90.0          -178.500
             13    -89.9375  -178.3125            -90.0          -178.375
             14    -89.9375  -178.1875            -90.0          -178.250
             15    -89.9375  -178.0625            -90.0          -178.125
             16    -89.9375  -177.9375            -90.0          -178.000
             17    -89.9375  -177.8125            -90.0          -177.875
             18    -89.9375  -177.6875            -90.0          -177.750
             19    -89.9375  -177.5625            -90.0          -177.625
             20    -89.9375  -177.4375            -90.0          -177.500
             21    -89.9375  -177.3125            -90.0          -177.375
             22    -89.9375  -177.1875            -90.0          -177.250
             23    -89.9375  -177.0625            -90.0          -177.125
             24    -89.9375  -176.9375            -90.0          -177.000
             25    -89.9375  -176.8125            -90.0          -176.875
             26    -89.9375  -176.6875            -90.0          -176.750
             27    -89.9375  -176.5625            -90.0          -176.625
             28    -89.9375  -176.4375            -90.0          -176.500
             29    -89.9375  -176.3125            -90.0          -176.375
...                     ...        ...              ...               ...
1       1439 2850   89.9375   176.3125             90.0           176.375
             2851   89.9375   176.4375             90.0           176.500
             2852   89.9375   176.5625             90.0           176.625
             2853   89.9375   176.6875             90.0           176.750
             2854   89.9375   176.8125             90.0           176.875
             2855   89.9375   176.9375             90.0           177.000
             2856   89.9375   177.0625             90.0           177.125
             2857   89.9375   177.1875             90.0           177.250
             2858   89.9375   177.3125             90.0           177.375
             2859   89.9375   177.4375             90.0           177.500
             2860   89.9375   177.5625             90.0           177.625
             2861   89.9375   177.6875             90.0           177.750
             2862   89.9375   177.8125             90.0           177.875
             2863   89.9375   177.9375             90.0           178.000
             2864   89.9375   178.0625             90.0           178.125
             2865   89.9375   178.1875             90.0           178.250
             2866   89.9375   178.3125             90.0           178.375
             2867   89.9375   178.4375             90.0           178.500
             2868   89.9375   178.5625             90.0           178.625
             2869   89.9375   178.6875             90.0           178.750
             2870   89.9375   178.8125             90.0           178.875
             2871   89.9375   178.9375             90.0           179.000
             2872   89.9375   179.0625             90.0           179.125
             2873   89.9375   179.1875             90.0           179.250
             2874   89.9375   179.3125             90.0           179.375
             2875   89.9375   179.4375             90.0           179.500
             2876   89.9375   179.5625             90.0           179.625
             2877   89.9375   179.6875             90.0           179.750
             2878   89.9375   179.8125             90.0           179.875
             2879   89.9375   179.9375             90.0           180.000

                   elevation  elevation_stddev  elevation_max  elevation_min
nbounds nlat nlon
0       0    0          2771                 1           2772           2770
             1          2771                 1           2772           2770
             2          2771                 1           2772           2770
             3          2771                 1           2772           2770
             4          2770                 1           2772           2770
             5          2770                 1           2772           2769
             6          2770                 1           2772           2769
             7          2770                 1           2772           2769
             8          2770                 1           2772           2769
             9          2770                 1           2772           2769
             10         2770                 1           2772           2769
             11         2770                 1           2772           2769
             12         2770                 1           2772           2769
             13         2770                 1           2772           2769
             14         2770                 1           2772           2769
             15         2770                 1           2772           2769
             16         2770                 1           2772           2769
             17         2770                 1           2772           2769
             18         2770                 1           2772           2769
             19         2770                 1           2772           2769
             20         2770                 1           2772           2769
             21         2770                 1           2772           2769
             22         2770                 1           2772           2769
             23         2770                 1           2771           2769
             24         2770                 1           2771           2769
             25         2770                 1           2771           2769
             26         2770                 1           2771           2769
             27         2770                 1           2771           2769
             28         2770                 1           2771           2769
             29         2770                 1           2771           2769
...                      ...               ...            ...            ...
1       1439 2850          0                 0              0              0
             2851          0                 0              0              0
             2852          0                 0              0              0
             2853          0                 0              0              0
             2854          0                 0              0              0
             2855          0                 0              0              0
             2856          0                 0              0              0
             2857          0                 0              0              0
             2858          0                 0              0              0
             2859          0                 0              0              0
             2860          0                 0              0              0
             2861          0                 0              0              0
             2862          0                 0              0              0
             2863          0                 0              0              0
             2864          0                 0              0              0
             2865          0                 0              0              0
             2866          0                 0              0              0
             2867          0                 0              0              0
             2868          0                 0              0              0
             2869          0                 0              0              0
             2870          0                 0              0              0
             2871          0                 0              0              0
             2872          0                 0              0              0
             2873          0                 0              0              0
             2874          0                 0              0              0
             2875          0                 0              0              0
             2876          0                 0              0              0
             2877          0                 0              0              0
             2878          0                 0              0              0
             2879          0                 0              0              0

[8294400 rows x 8 columns]

In [31]:
df[(df.latitude.round(2) == 50) ]

Empty DataFrame
Columns: [latitude, longitude, latitude_bounds, longitude_bounds, elevation, elevation_stddev, elevation_max, elevation_min]
Index: []

In [15]:
df[(df.latitude == 50.3125) & (df.longitude == 30.8125)]

,,,latitude,longitude,latitude_bounds,longitude_bounds,elevation,elevation_stddev,elevation_max,elevation_min
nbounds,nlat,nlon,,,,,,,,
0,1122,1686,50.3125,30.8125,50.250,30.750,123,11,151,87
1,1122,1686,50.3125,30.8125,50.375,30.875,123,11,151,87

In [8]:
df.longitude[(df.longitude > 30.74) & (df.longitude < 30.90)].unique()

array([ 30.8125])

In [2]:
pd.read_hdf('GMTED2010_15n030_0125deg (1).hdf')

HDF5ExtError: HDF5 error back trace

  File "H5F.c", line 604, in H5Fopen
    unable to open file
  File "H5Fint.c", line 1087, in H5F_open
    unable to read superblock
  File "H5Fsuper.c", line 277, in H5F_super_read
    file signature not found

End of HDF5 error back trace

Unable to open/create file 'GMTED2010_15n030_0125deg (1).hdf'